p {
    text-align: left;
}
.center {
    text-align: center;
}
.special {
    text-align: right;
}
.luigi {
    text-align: left;
    color: green;
}
.pie {
    text-align: left;
    font-family: trebuchet;
}
.prince {
    text-align: left;
    font-size: 40px;
}
.white {
    text-align: left;
    font-size: 10px;
    color: white;
    font-family: arial;
}
a {
    color: blue;
    text-align: left;
}
.lawn {
    color: blue;
    text-align: left;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    background-color: darkseagreen;
  }
  .my-button {
    padding: 5px;
    width: 100px;
    font-size: 20px;
    font-family: serif;
    transition-duration: 0.4s;
    position: absolute;
    bottom: 160px;
    right: 677px
    color: white;
    background-color: green;
  }
  .my-button:hover {
    opacity: 0.7;
  }
  
  
  
  
  
