p {
    text-align: left;
}
.center {
    text-align: center;
}
p {
    text-align: right;
}
p {
    text-align: left;
    color: green;
}
p{
    text-align: left;
    font-family: trebuchet;
}
p {
    text-align: left;
    font-size: 40px;
}
p {
    text-align: left;
    font-size: 5px;
    color: white;
    font-family: arial;
}
