p {
    text-align: left;
}
.center {
    text-align: center;
}
.special {
    text-align: right;
}
.luigi {
    text-align: left;
    color: green;
}
.pie {
    text-align: left;
    font-family: trebuchet;
}
.prince {
    text-align: left;
    font-size: 40px;
}
.white {
    text-align: left;
    font-size: 5px;
    color: white;
    font-family: arial;
}
a {
    color: blue;
}
